#world {
	width: 1280px;
	height: 720px;
	background-color: wheat;
}

#world div {
	position: absolute;
}

#obstacles {
	background: url('background.gif');
}

#floor {
	background: url('brick.jpg');
	background-size: contain;
	height: 40px;
	width: 1280px;
}

div#mario {
	background: url('chr.gif');
	background-position: 0px -145px;
	position: absolute;
	top: 200px;
	left: 0px;
	width: 53px;
	height: 60px;
}
div.row div {
	width: 53px;
	height: 60px;
	display: inline-block;
}
div.sky {
	background-color: lightblue;
}
div.question {
	background: url('question.jpeg');
	background-size: 100% auto;
}
div.ground {
	background-color: brown;
}
div.pipe {
	background-color: green;
}
div.obstacle {
	position: absolute;
	background-color: red;
	background: url('background.gif');
}
